:root {
  --text: #c9d1d9;
  --text-h: #c9d1d9;
  --bg: #0a0e14;
  --border: #21262d;
  --accent: #aa3bff;
  --accent-border: rgba(170, 59, 255, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  --green: #16c784;
  --red: #ea3943;
  --surface: #161b22;
  --text-dim: #6e7681;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, 'SF Mono', Menlo, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 24px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.auth-card {
  background: var(--surface);
  padding: 2rem;
  border: 1px solid var(--border);
  border-radius: 8px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.auth-card a {
  color: var(--text-dim);
}

.auth-input {
  background: var(--bg);
  color: var(--text);
  padding: 0.6rem;
  border: 1px solid var(--border);
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
}

.auth-button {
  background: var(--accent);
  color: white;
  border: none;
  border-radius: 6px;
  padding: .66rem;
  cursor: pointer;
  font-size: 1rem;
}

.book {
  background: var(--surface);
  border: 1px solid var(--border);
  border-radius: 8px;
  width: 320px;
  font-family: var(--mono);
}

.ask-row {
  display: flex;
  justify-content: space-between;
  padding: 2px 12px;
  color: var(--red);
}

.bid-row {
  display: flex;
  justify-content: space-between;
  padding: 2px 12px;
  color: var(--green);
}
